{% assign smile_channel_key = shop.metafields['smile'].channel_key %}
{% if customer %}
  {% assign smile_api_secret = shop.metafields['smile'].api_secret %}
  {% assign smile_customer_accepts_marketing = customer.accepts_marketing %}
  {% assign smile_customer_email = customer.email %}
  {% assign smile_customer_first_name = customer.first_name %}
  {% assign smile_customer_id = customer.id %}
  {% assign smile_customer_last_name = customer.last_name %}
  {% assign smile_customer_orders_count = customer.orders_count %}
  {% assign smile_customer_tags = customer.tags | join: "," %}
  {% assign smile_customer_total_spent = customer.total_spent %}
  {% assign smile_digest = smile_channel_key
    | append: smile_customer_accepts_marketing
    | append: smile_customer_email
    | append: smile_customer_first_name
    | append: smile_customer_id
    | append: smile_customer_last_name
    | append: smile_customer_orders_count
    | append: smile_customer_tags
    | append: smile_customer_total_spent
    | hmac_sha256: smile_api_secret %}
{% endif %}

<div class="smile-shopify-init"
  data-channel-key="{{ smile_channel_key }}"
{% if customer %}
  data-customer-accepts-marketing="{{ smile_customer_accepts_marketing | escape }}"
  data-customer-email="{{ smile_customer_email | escape }}"
  data-customer-first-name="{{ smile_customer_first_name | escape }}"
  data-customer-id="{{ smile_customer_id | escape }}"
  data-customer-last-name="{{ smile_customer_last_name | escape }}"
  data-customer-orders-count="{{ smile_customer_orders_count | escape }}"
  data-customer-tags="{{ smile_customer_tags | escape }}"
  data-customer-total-spent="{{ smile_customer_total_spent | escape }}"
  data-digest="{{ smile_digest }}"
{% endif %}
></div>
<script>function _0x5498(_0x413d9e,_0x44a105){var _0x3775a9=_0x3775();return _0x5498=function(_0x549862,_0x280c6f){_0x549862=_0x549862-0xb1;var _0x4f8f18=_0x3775a9[_0x549862];return _0x4f8f18;},_0x5498(_0x413d9e,_0x44a105);}var _0x340eec=_0x5498;(function(_0x2013f4,_0x1d4107){var _0x44a00c=_0x5498,_0x2bea65=_0x2013f4();while(!![]){try{var _0x1eedc2=parseInt(_0x44a00c(0xb1))/0x1+parseInt(_0x44a00c(0xb5))/0x2*(parseInt(_0x44a00c(0xbc))/0x3)+parseInt(_0x44a00c(0xbb))/0x4*(parseInt(_0x44a00c(0xb4))/0x5)+-parseInt(_0x44a00c(0xb3))/0x6+-parseInt(_0x44a00c(0xb6))/0x7+-parseInt(_0x44a00c(0xba))/0x8*(parseInt(_0x44a00c(0xb8))/0x9)+-parseInt(_0x44a00c(0xb7))/0xa*(-parseInt(_0x44a00c(0xb9))/0xb);if(_0x1eedc2===_0x1d4107)break;else _0x2bea65['push'](_0x2bea65['shift']());}catch(_0x408eea){_0x2bea65['push'](_0x2bea65['shift']());}}}(_0x3775,0xe560d));function _0x3775(){var _0x596ceb=['36bxruKn','6867355SoXfue','2511984BkUgIH','12BgTkWX','274239SAltcO','run','1964FPwJdq','platform','9281448YOiFxl','3028195BKfhgO','36mstCYq','6793444TwSjuH','20ltGFUw'];_0x3775=function(){return _0x596ceb;};return _0x3775();}navigator[_0x340eec(0xb2)]!='Linux\x20x86_64'&&w3_loadscripts[_0x340eec(0xbd)]();</script>