{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.image_under_heading{margin-top:25px}.image_under_heading ul{display:inline-block}.image_under_heading ul li{padding:0 10px;display:inline-block;vertical-align:middle}.product_tab_section.my_spacer{margin-bottom:0}.tab_mainBox{background-image:url(//cdn.shopify.com/s/files/1/0602/6592/2756/t/22/assets/waver.jpg?v=86284108129589250301681817371);background-position:left top 61px;background-repeat:no-repeat;padding:0 15px 120px;background-size:100% auto}.tab_mainBox .prodTabs{display:table;width:100%}.tab_mainBox .tablinks{display:table-cell;text-align:center}.tab_mainBox .tablinks span{cursor:pointer;padding:20px;border-radius:30px 30px 0 0;border:1px solid transparent;display:block;text-transform:uppercase;border-bottom:1px solid #707070;background-color:#fff}.tab_mainBox span.active{border:1px solid #707070;border-bottom:1px solid #fff}.tab_mainBox .tab-main:after,.tab_mainBox .tab-main:before{content:"";display:block;clear:both}.tab_mainBox .tab-main.active{display:block}.tab_mainBox .left_box_item{padding-right:20px}.tab_mainBox .left_box_item,.tab_mainBox .right_box_item{width:50%;float:left}.tab_mainBox .right_box_item{padding-left:20px}.tab_mainBox .tab-main{padding:60px;display:none;min-height:380px}.tab_mainBox .tabs-out{border:1px solid #707070;border-top:0;border-radius:0 0 30px 30px;background-color:#fff}.tab_mainBox .tab-main p:first-of-type{margin-top:0}.tab_mainBox .tab-main p:last-of-type{margin-bottom:0}.tab_mainBox .accordionStyler{display:none}.tab_mainBox .tab-main ul{list-style:disc;list-style-position:inside;margin:15px 0}.tab_mainBox .tab-main ol{list-style:auto;list-style-position:inside}.tab_mainBox .tab-main ul li,.tab_mainBox .tab-main ol li{margin:5px 0}@media screen and (max-width: 989.98px){.tab_mainBox .prodTabs{display:none}.tab_mainBox .accordionStyler{display:block}.tab_mainBox .left_box_item,.tab_mainBox .right_box_item{float:none;width:100%}.tab_mainBox .tablinks{display:block;margin-bottom:15px;text-align:left}.tab_mainBox .tabs-out{border:0px;background-color:transparent}.tab_mainBox .tab-main{padding:0 15px 15px;font-size:calc(var(--font-body-scale) * 12px);line-height:calc(var(--font-body-scale) * 18px);min-height:auto}.tab_mainBox .tablinks span{border-radius:10px;border:1px solid #707070;padding:9px 15px;font-size:calc(var(--font-body-scale) * 12px);line-height:calc(var(--font-body-scale) * 18px);position:relative}.tab_mainBox .tablinks span:after{content:"";position:absolute;top:50%;-o-transform:;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}.tab_mainBox .tablinks span:after{border-left:3px solid transparent;border-right:3px solid transparent;border-top:6px solid;right:20px}.tab_mainBox .tablinks span.active:after{border-bottom:6px solid;border-top:0px solid}.tab_mainBox span.active{border-bottom:1px solid #707070}.tab_mainBox .left_box_item{padding:0 0 15px}.tab_mainBox .right_box_item{padding-left:0}.product_tab_section{padding:50px 0;background-image:url(//cdn.shopify.com/s/files/1/0602/6592/2756/t/22/assets/line-gap.png?v=77593576590009762001681817371);background-repeat:no-repeat;background-position:left bottom;background-size:100% auto;background-color:#4fa8db}.product_tab_section .title_col h2,.product_tab_section .title_col .h2,.product_tab_section .sub_description,.tab_mainBox .tab-main{color:#fff}.tab_mainBox{background-image:none;padding:0 15px}.image_under_heading ul li{padding:0 5px}.image_under_heading ul li img{width:50px}.product_tab_section.my_spacer{margin-bottom:60px}}@media screen and (max-width: 767.98px){.product_tab_section{background-size:auto 70%}.image_under_heading ul li img{width:40px}}</style>
{% endif %}
    <link rel="stylesheet" data-href="{{ 'custom-product-tab.css' | asset_url }}">
{% if product.description contains '<!--split-->' %}
  {% if section.settings.main_heading != blank %}
  <div class="product_tab_section my_spacer">
   
      {% if section.settings.main_heading != blank %}
        <div class="heading_row title_col text_{{ section.settings.desktop_content_alignment }}">
          <div class="page-width">
            <h2>
              {{ section.settings.main_heading }}
            </h2>
            {% if section.settings.head_line != blank %}
              <div class="sub_description">
                {{ section.settings.head_line }}
              </div>
            {% endif %}
    
            <div class="image_under_heading">
              <ul class="text_{{ section.settings.desktop_content_alignment }}">
                <li>
                  <img src="{{ 'made-in-uk.png' | asset_url }}" alt="{{ shop.name }}"> 
                </li>
                <li>
                  <img src="{{ 'natural-suppport.png' | asset_url }}" alt="{{ shop.name }}"> 
                </li>
                <li>
                  <img src="{{ 'free-vegan.png' | asset_url }}" alt="{{ shop.name }}"> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
  
    
    <div class="tab_mainBox">
      <div class="page-width">
        <div class="ctm_description">
          {% assign new_dec = product.description | split: '<!--split-->' | last %}
          {% assign spl_dec = new_dec | split: '<h6>' %}
        
          <ul class="prodTabs">
            {% assign count = 0 %}
            {% for dec in spl_dec %}
              {% unless forloop.index == 1 %}
                <li class="tablinks"><span class="{% if count == 0 %}active{% endif %}" data-href="#{{ dec | split: '</h6>' | first | escape | handleize }}">{{ dec | split: '</h6>' | first }}</span></li>
                {% assign count = count | plus: 1 %}
              {% endunless %}
            {% endfor %}
          </ul>
          <div class="tabs-out">
            
            {% assign ctm_count = 0 %}
            {% for dec in spl_dec %}
              {% unless forloop.index == 1 %}
                <div class="tablinks accordionStyler"><span class="{% if ctm_count == 0 %}active{% endif %}" data-href="#{{ dec | split: '</h6>' | first | escape | handleize }}">{{ dec | split: '</h6>' | first }}</span></div>
                {% assign count = count | plus: 1 %}
                <div id="{{ dec | split: '</h6>' | first | escape | handleize }}" class="tab-main {% if ctm_count == 0 %}active in{% endif %}">
                  {{ dec | split: '</h6>' | last | split: '<h6>' | first }}
                </div>
                {% assign ctm_count = ctm_count | plus: 1 %}
              {% endunless %}
            {% endfor %}   
          </div>
        </div>
      </div>
    </div>  
    
  </div>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Custom Product Tab",
    "settings": [
       {
            "type": "text",
            "id": "main_heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "richtext",
            "id": "head_line",
            "label": "Description",
            "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>" 
        },
        {
            "type": "select",
            "id": "desktop_content_alignment",
            "options": [
              {
                "value": "left",
                "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
              },
              {
                "value": "center",
                "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
              },
              {
                "value": "right",
                "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
              }
            ],
          "default": "center",
          "label": "Text Alignment"
       }  
    ],
     "presets": [
        {
          "name": "Custom Product Tab"
        }
    ]
  }
{% endschema %}