{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.activity_section .image_area{margin-top:-280px;text-align:center}.activity_section .image_area img{border-radius:40px}.activity_section .content_entry_col{color:#fff;max-width:580px}.activity_section .title_col h2{color:#fff}@media screen and (max-width: 1680.98px){.activity_section .image_area{margin-left:auto;margin-right:auto;margin-top:-200px;max-width:400px}}@media screen and (max-width: 1367.98px){.activity_section .image_area{max-width:370px}}@media screen and (max-width: 989.98px){.activity_section .custom_column{flex:0 0 100%;max-width:100%}.activity_section .image_area img{margin:0 auto}.activity_section .image_area{margin-bottom:40px;margin-top:-230px}.activity_section .content_entry_col{text-align:center;max-width:100%}}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'custom-image-activity-text.css' | asset_url }}">

<div class="activity_section">
  <div class="page-width">
    <div class="custom_row">
      <div class="custom_column">
        <div class="image_area">
         {%- if section.settings.image != blank -%}
          <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy">
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%} 
        </div>
      </div> 
      <div class="custom_column">
        <div class="content_entry_col">
          {% if section.settings.main_heading != blank %}
            <div class="title_col">
                <h2>
                  {{ section.settings.main_heading }}
                </h2>
            </div>
          {% endif %}
  
          {% if section.settings.desc != blank %}
            <div class="body_content">
              {{ section.settings.desc }}
            </div>
          {% endif %}
  
          {% if section.settings.button_label_1 != blank  %}
          <div class="button_row">
            <a{% if section.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} 
            href="{{ section.settings.button_link_1 }}"{% endif %} 
            class="button{% if section.settings.button_style_secondary_1 %} button--secondary button_outline_white {% else %} button--primary{% endif %}">
            {{ section.settings.button_label_1 | escape }}
            </a>
          </div>
           {% endif %}
  
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  #shopify-section-{{ section.id}} .activity_section {
    background-color: {{ section.settings.bg_color }};
    padding: 100px 15px 220px;
    margin: 300px 0px 100px;
    position: relative;
    z-index: 2;
  }
  #shopify-section-{{ section.id}} .activity_section:after,  #shopify-section-{{ section.id}} .activity_section:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    height: 45%;
  }
  #shopify-section-{{ section.id}} .activity_section:after {
    background-image: url('{{ "single-line.png" | asset_url }}');
    z-index: -1;
  }
  #shopify-section-{{ section.id}} .activity_section:before {
    background: -moz-linear-gradient(top, rgba(247,177,170,0) 0%, rgba(247,177,170,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(247,177,170,0) 0%,rgb(247,177,170,0.7) 100%);
    background: linear-gradient(to bottom, rgba(247,177,170,0) 0%,rgb(247,177,170,0.7) 100%);
  }

  @media screen and (max-width: 1680.98px) {
     #shopify-section-{{ section.id}} .activity_section {
        margin: 280px 0px 80px;
        padding: 60px 15px 180px;
     }
      #shopify-section-{{ section.id}} .activity_section:after,  #shopify-section-{{ section.id}} .activity_section:before {
        height: 40%;
    }
  }

  @media screen and (max-width: 989.98px) {
     #shopify-section-{{ section.id}} .activity_section {
         padding: 0px 15px 180px;
     }
      #shopify-section-{{ section.id}} .activity_section:after,  #shopify-section-{{ section.id}} .activity_section:before {
        height: 20%;
    }
  }
  </style>

{% schema %}
  {
    "name": "Custom Activity Content",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#EA6463"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "main_heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "Description",
            "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>" 
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        }
    ],
    "presets": [
      {
         "name": "Custom Activity Content"
      }
    ]
  }
{% endschema %}