{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.image_text_row{align-items:center;overflow:hidden}.image_text_row .image_column{position:relative;z-index:3}.image_text_row .img_column_box{flex:0 0 45%;max-width:45%;padding-left:15px;padding-right:15px}.image_text_row .content_column_box{flex:0 0 55%;max-width:55%;padding-left:15px;padding-right:15px}.image_text_row .image_column img{border-radius:0 0 92px 92px;display:block}.image_text_row .image_column video{width:100%;border-radius:0 0 92px 92px}.image_text_row .content_column{padding-left:15.5%;padding-top:20px;padding-bottom:20px}.image_text_row .list_block li{position:relative;font-size:calc(var(--font-body-scale) * 16px);font-weight:700;line-height:calc(var(--font-body-scale) * 21px);margin-bottom:35px;z-index:2}.image_text_row .list_block li a{border-bottom:2px solid;color:rgba(var(--color-foreground),1)}.image_text_row .list_block li:before,.image_text_row .list_block li:after{content:"";position:absolute;color:#76b6b1}.image_text_row .list_block li:before{width:20px;height:20px;border-radius:50px;left:-40px;top:3px;border:3px solid;background-color:#fff;animation-name:example1;animation-duration:2s;animation-delay:1s;animation-fill-mode:forwards;opacity:0}.image_text_row .list_block li:after{right:calc(100% + 28px);top:12px;border-top:3px solid;width:0%;z-index:-1;animation-name:example;animation-duration:4.5s;animation-delay:2.5s;animation-fill-mode:forwards}.image_text_row .richtext_block{margin-bottom:25px}@-moz-keyframes example1{0%{opacity:.1}50%{opacity:.5}to{opacity:1}}@-webkit-keyframes example1{0%{opacity:.1}50%{opacity:.5}to{opacity:1}}@keyframes example1{0%{opacity:.1}50%{opacity:.5}to{opacity:1}}@-moz-keyframes example{0%{width:0%}50%{width:50%}to{width:30%}}@-webkit-keyframes example{0%{width:0%}50%{width:50%}to{width:30%}}@keyframes example{0%{width:0%}50%{width:50%}to{width:30%}}@media screen and (max-width: 1680.98px){.image_text_row .content_column{padding-left:10.5%}}@media screen and (max-width: 989.98px){.image_text_row .image_column img{margin:0 auto;border-radius:0 0 52px 52px}.image_text_row{overflow:visible;align-items:start}.img_with_list_section{overflow:hidden}.image_text_row .image_column{margin-bottom:20px}.image_text_row .content_column{padding-bottom:0}}@media screen and (max-width: 767.98px){.image_text_row .image_column img{border-radius:0 0 40px 40px}.image_text_row .content_column{padding-left:20px}.image_text_row .list_block li:before{width:15px;height:15px;left:-25px;top:4px}.image_text_row .list_block li:after{top:12px;right:calc(100% + 10px);top:10px}.image_text_row .list_block li{font-size:calc(var(--font-body-scale) * 12px);line-height:calc(var(--font-body-scale) * 18px);margin-bottom:20px}.img_with_list_section .button_block .button{min-width:calc(100% - 35px)}}@media screen and (max-width: 599.98px){.image_text_row .img_column_box,.image_text_row .content_column_box{flex:0 0 100%;max-width:100%}}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'custom-image-with-list-text.css' | asset_url }}">


{% if section.settings.main_heading != blank %}
<div class="my_spacer">
{% endif %}  
  
{% if section.settings.main_heading != blank %}
  <div class="heading_row title_col text_{{ section.settings.desktop_content_alignment }}">
    <div class="page-width">
        <h2>
          {{ section.settings.main_heading }}
        </h2>
      {% if section.settings.head_line != blank %}
        <div class="sub_description">
          {{ section.settings.head_line }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{%- if section.settings.image != blank or section.settings.video_url != blank -%} 
<div class="img_with_list_section">
  <div class="page-width">
    <div class="image_text_row custom_row">
      <div class="img_column_box">
        <div class="image_column {{ section.settings.show_video }}">
          {%- if section.settings.video_url != blank and section.settings.show_video == true -%}
            <video preload="auto" autoplay loop muted playsinline webkit-playsinline x5-playsinline>
            <source src="{{ section.settings.video_url }}" type="video/mp4">
            <source src="{{ section.settings.video_url }}" type="video/webm">
            <source src="{{ section.settings.video_url  }}" type="video/ogg">
            <source src="{{ section.settings.video_url }}" type="video/mov">
             Your browser doesn't support HTML5 video tag.
            </video>
          {% elsif section.settings.image != blank %}  
            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy">
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%} 
        </div>
        
      </div>
      <div class="content_column_box">
        <div class="content_column">
           {% if section.settings.listing != blank %}
            <div class="list_block">
              {{ section.settings.listing }} 
            </div>
           {% endif %}
         
          {% if section.settings.paragraph != blank %}
          <div class="richtext_block">
            {{ section.settings.paragraph }} 
          </div>
          {% endif %}
    
          {%- if section.settings.button_label_1 != blank -%}
          <div class="button_block">
            <a{% if section.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} 
              href="{{ section.settings.button_link_1 }}"{% endif %} 
              class="button{% if section.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">
              {{ section.settings.button_label_1 | escape }}
            </a>
          </div>
         {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

{% if section.settings.main_heading != blank %}
</div>
{% endif %}  


<style>
  #shopify-section-{{ section.id}} .img_with_list_section {
    {% if section.settings.bg_image != blank %}  
    background-image: url('{{ section.settings.bg_image | image_url }}');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #ffffff;
    {% endif %} 
    padding: 0px 15px 100px;
  }
  
  @media screen and (max-width: 1680.98px) {
    #shopify-section-{{ section.id}} .img_with_list_section {
      padding: 0px 15px 60px;
    }
    
  }

  @media screen and (max-width: 767.98px) {
    #shopify-section-{{ section.id}} .img_with_list_section {
        padding: 0px 15px;
    }
 }
   
</style>


{% schema %}
  {
    "name": "Custom Image With List",
    "settings": [
        {
            "type": "header",
            "content": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "main_heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "richtext",
            "id": "head_line",
            "label": "Description",
            "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>" 
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
            }
          ],
        "default": "center",
        "label": "Text Alignment"
      },
      {
          "type": "header",
          "content": "Media"
      },
      {
          "type": "checkbox",
          "id": "show_video",
          "label": "Enable video",
          "default": false
      },
      {
          "type": "text",
          "id": "video_url",
          "label": "Video Url link",
          "info": "Portrait Video Ratio 4:5"
      },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
          "type": "header",
          "content": "content"
      },
      {
          "type": "html",
          "id": "listing",
          "label": "List Points"
      },
      {
          "type": "richtext",
          "id": "paragraph",
          "label": "Content",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>"
      },
      {
          "type": "header",
          "content": "Button"
      },
      {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
      },
      {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
      },
      {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
      }
    ],
    "presets": [
        {
          "name": "Custom Image With List"
        }
    ]
  }
{% endschema %}

<script type="lazyload_int">
  $('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top - 50 
    }, 2500);
    return false;
});
</script>


